@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);
h1,h2 {
    margin:0;
    padding:0;
}
html {
    scroll-behavior: smooth;
}
    body {
        float: left;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: visible;
        margin-right: calc(-1 * (100vw - 100%));
    }
@font-face {
    font-family: 'Space Grotesk';
    src: url(./assets/fonts/space-grotesk.regular.otf) format('opentype');
}
@font-face {
    font-family: 'HoltwoodOneSC-Regular';
    src: url(./assets/fonts/HoltwoodOneSC-Regular.ttf) format('truetype');
}
/* section css */
#wrapper {
    display: grid;
    grid-template-columns: max(3.2%,30px) 1fr max(3.2%,30px);
    grid-template-areas: 
    'header main footer';
    grid-gap: 0;
    display: grid;
    font-family: Space Grotesk;
}
main {
  grid-area: main;
  background-color: transparent;
  width: 100%;
  overflow: hidden;
}
footer {
    grid-area: footer;
    width:100%;
    height:100vh;
    min-width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    }
header {
    grid-area: header;
    width:100%;
    height:100vh;
    min-width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 10;
}
nav {
    position: fixed;
    top:0;
    bottom:0;
    float: left;
    background-color:#22232B ;
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    height:100%;
    width:3.2vw;
    min-width: 30px;
}  

input.burger-checkbox[type=checkbox] {
    display:none;
}
label[for=burger-menu] {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;;
    height: 100vh;
    left: 18.75%;
}
label > .burger-icon {
display: inline-block;
position: relative;
width: max(2vw,20px);
height: 0.55vh;
border-radius: 10px;
background-color:#7D87A8;   
transition: all 0.2s linear; 
}
    label[for=burger-menu] > .burger-icon::before {
    content: '';
    position: absolute;
    bottom:8px;
    width: max(2vw,20px);
    height: 0.55vh;
    border-radius: 10px;
    background-color:#7D87A8;
    transition: all 0.2s linear; 
    }
    label[for=burger-menu] > .burger-icon::after {
        content: '';
        position: absolute;
        top: 8px;
        width: max(2vw,20px);
        height: 0.55vh;
        border-radius: 10px;
        background-color:#7D87A8;
        transition: all 0.2s linear; 
     }
   input.burger-checkbox[type=checkbox]:checked + label[for=burger-menu] > span.burger-icon::before {
    transform-origin: center;
    transform: rotate(90deg);
    bottom:0;
    }
    input.burger-checkbox[type=checkbox]:checked + label[for=burger-menu] > span.burger-icon::after {
        transform-origin: center;
        transform: rotate(0deg);
        top:0;
    }
    input.burger-checkbox[type=checkbox]:checked + label[for=burger-menu] > span.burger-icon {
        transform-origin: center;
        transform: rotate(45deg);
    }
    /* "nav-content */
    /* 1) swipe menu */
     div.nav-content {
        position: absolute;
        height: 100%;
        width: 0;
        left: max(3.2vw,30px);
        transition: width 0.5s ease;
    }
    div.nav-content .nav-list {
        position: absolute;
        width: 0%;
        height: 100%;
        background-color: #1b3630;
        transition: width 0.5s ease;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        overflow: hidden; 
    }
    input.burger-checkbox[type=checkbox]:checked ~ div.nav-content .nav-list {
        width:100%;
    }
    input.burger-checkbox[type=checkbox]:checked ~ div.nav-content {
        width: 15vw;
        min-width: 170px;
    }
      /* 1) text animation */
      div.nav-content .nav-list ul,
       div.nav-content .nav-list li {
          width:80%;
      }
       div.nav-content .nav-list li{
        position:relative;
        list-style-type: none;
        padding: 3vh 1vw;  
        overflow: hidden;
        /* border:1px solid red; */
      }
       div.nav-content .nav-list  a{
        position:absolute;
        text-decoration: none;
        text-transform: uppercase;
        color: #6D8974;
        font-weight: 700;
        bottom:-1.2em;
        letter-spacing: 3px;  
        transition: bottom 0.45s ease-in 0.6s, color 0.2s linear 0.1s;
      }
      div.nav-content .nav-list  a::after {
        content: '';
        display: block;
        width: 0;
        height: 0.15em;
        background-color: #F0F2F3;
        transition: width .3s;
        z-index: 1;
    }
    div.nav-content .nav-list  a:hover::after {
        width: 100%;
        transition: width .3s;
    }
      input.burger-checkbox[type=checkbox]:checked ~ div.nav-content .nav-list a {
        bottom: 5px;
    }
     div.nav-content .nav-list  a:hover {
        color: #F0F2F3;
     } 

     /* footer */

     .social-icons {
        position: fixed;
        top:0;
        bottom:0;
        right:0;
        height: 100%;
        width: max(3.2%,30px);
        background-color:#22232B;
        display: flex;
        flex-direction: column;
        justify-content: center;
     }
     .icon-group {
         position: absolute;
         left: 0.5vw;
        width: calc(((1vh + 1vw)/2)* 3);
        height: 45%;
        width: max(70%,20px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;  
        cursor: pointer; 
     }
  .icon:hover{
   animation: rotateScale 1s ease 0.1s 1;
   transform-origin: center;
     }
     @keyframes rotateScale {
         0%{
             transform:rotateY(0);
            }
        50% {
            transform:rotateY(360deg) 
            }
        75% { 
             transform: scale(1.3);
            }
         100% { 
            transform: scale(1);
            }
    };
    /* main */
main > div {
        width: 100%;
    }

main div#engage  {
    height:100vh;
    background-color:black;
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.photo {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
main div#engage img  {
   width: 100%;
   float:right;
}
#engage div.main-info {
    width: 45%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
#engage div.my-name,
#engage div.info-about {
    padding-left:10vw;
    width: 100%;
}
#engage div.my-name h2,
#engage div.my-name h1 {
    font-family: "Space Grotesk", sans-serif;
    line-height: max(1.5vw, 25px);
    font-size:  max(1.2vw, 23px);
    white-space: nowrap;
    overflow: hidden; 
}
/* typing */
@keyframes animated-text{
    from{width: 0;}
    to{width: 15em;}
  }
  @keyframes animated-cursor{
    from{border-right-color: rgba(0,255,0,.75);}
    to{border-right-color: transparent;}
  }
#engage div.my-name h1 {
    font-weight: 700;
    padding-bottom:4vh;
}

#engage div.my-name h2 {
    display: inline-block;
    border-right: solid 3px rgba(0,255,0,.75);
    font-weight: 400;
    animation: animated-text 5s steps(29,end) 2s 1 normal both,animated-cursor 600ms steps(29,end) infinite;
}
/* glitch */
.info-about p.neon {
    font-family: "Space Grotesk", sans-serif;
    line-height: max(6.1vh, 5   px);
    font-size: max(2.1vw, 20px);
    font-weight: 400;
    animation: neon .4s ease-in-out infinite ;
}
@keyframes neon {
  from {
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(202,228,225,0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(30,132,242,0.58),
    0 0 22px rgba(30,132,242,0.84),
    0 0 38px rgba(30,132,242,0.88),
    0 0 60px rgba(30,132,242,1);
  }
}
/* Scroll down button */
.icon-scroll {
    position: absolute;
    width: calc(((1vh + 1vw)/2)* 4);
    height: calc(((1vh + 1vw)/2)* 6);
    margin-left: calc(((1vh + 1vw)/2)* -3);
    bottom: 3%;
    left:50%;
    margin-top: -35px;
    box-shadow: inset 0 0 0 1px #fff;
    border-radius: 43%;
}
.icon-scroll:before {
    position: absolute;
    content: '';
    width: calc(((1vh + 1vw)/2)* 1.1);
    height: calc(((1vh + 1vw)/2)* 1.1);
    background: #fff;
    left: 36%;
    top: 4%;
    border-radius: 50%;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
}
.icon-scroll:after {
    position: absolute;
    content: 'Scroll me';
    white-space: nowrap;
    text-align: center;
    height: 10px;
    color: #fff;
    left: 0;
    right: 0;
    bottom: -15px;
    font-family: "Space Grotesk", sans-serif;
    font-size: 0.78vw;
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(calc(((1vh + 1vw)/2)* 4.5));
  }
}
/* about-me */
main div#about-me {
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#f3f3ef;
    border-bottom: 1px solid silver;
}

#about-me .paralax {
    width: 90vw;
    height: 70vh;
    background-image: url(./assets/images/kyiv-city.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
main div.about-block {
    position:absolute;
    width: 33vw;
    height: 90%;
    top: 8vh;
    left: 11vh;
    border: 1px solid black;
    font-family: "Space Grotesk", sans-serif;
    color: #fff;
    background-color:#1B3630;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding:2%;
}
main div.about-block h2 {
    text-transform: uppercase;
    line-height: 2.9vw;
    font-size: 1.95vw;
    font-weight: 400;
}
main div.about-block p {
    font-size: 1.3vw;
    font-weight: 300;
}
/* download */
.about-block a {
    text-decoration: none;
    border: 1px solid #fff;
    color:#fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 1s;
    width: 13.02vw;
    height: 6.92vh;
    z-index: 0;
    font-size: 1.1vw;
}
    .about-block a::before, a::after {
    position: absolute;
    background-color: #1B3630;
    z-index: -1;
    transition: 1s;
    content: '';
  }
    
  .about-block a::before {
    height:60%;
    width: calc(13.02vw + 2px);
  }
  
    .about-block  a::after {
    height: calc(6.92vh + 2px);
    width: 85%;
  }
    
  .about-block  a:hover::before {
    height: 0px;
    background: #304943;
  }
  
  .about-block  a:hover::after {
    width: 0px;
    background: #304943;
  }
  
 .about-block  a:hover {
    background: #304943;
  }
  /*skills  */
  #skills { 
      height:100vh;
      font-family: "Space Grotesk", sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-content: space-between;
      border-bottom: 1px solid silver;
  }
  #skills p {
    font-size: 1vw;
  }
  #skills > * {
    height: 30vh;
  }
  #skills h2 {
      text-align: center;
      margin-bottom:2.5%;
      font-size: 1.56vw;
      line-height: 1.82vw;
  }
  #skills svg {
      width: 9vw;
      height: 9vw;
      /* border:1px solid red; */
  }
  #skills .inner-ss,
  #skills .inner-hs {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }
  #skills .inner-ss > *,
  #skills .inner-hs > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  #skills .inner-ss > *:hover,
  #skills .inner-hs > *:hover {
    animation: bounce-top 0.8s 0.07s;
  }
  @-webkit-keyframes bounce-top{0%{-webkit-transform:translateY(-45px);transform:translateY(-45px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{-webkit-transform:translateY(-24px);transform:translateY(-24px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}65%{-webkit-transform:translateY(-12px);transform:translateY(-12px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}82%{-webkit-transform:translateY(-6px);transform:translateY(-6px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}93%{-webkit-transform:translateY(-4px);transform:translateY(-4px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}25%,55%,75%,87%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}}@keyframes bounce-top{0%{-webkit-transform:translateY(-45px);transform:translateY(-45px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{-webkit-transform:translateY(-24px);transform:translateY(-24px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}65%{-webkit-transform:translateY(-12px);transform:translateY(-12px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}82%{-webkit-transform:translateY(-6px);transform:translateY(-6px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}93%{-webkit-transform:translateY(-4px);transform:translateY(-4px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}25%,55%,75%,87%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}}
/* Education */
#education {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fffef7;
    font-family: "Space Grotesk", sans-serif;
    position: relative;
}
/* paralax */
.par-area {
    width: 20%;
    height: 100%;
    position: absolute;
    right:0;
}
.paralax-text {
    position: absolute;
    display: block;
    font-family: 'HoltwoodOneSC-Regular';
    text-align: center;
    font-size: 11.5vh;
    font-weight: 900;
    margin:0;
    letter-spacing: 1.5vh;
    transform: rotate(90deg);
    right: calc(-90% + 1.1vw);    
    top: 45vh;
    background-image: url(./assets/images/sky.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 135%;
    -webkit-background-clip: text;
    color:transparent;
    background-attachment: fixed; 
    z-index: 0;
}
/* progress */
.study-progress {
    width: 70%;
    margin-left:10%;
    display:flex;
    flex-direction: column-reverse;
    align-items: left;
    justify-content: space-evenly;
    height: 90vh;
    position: relative;
    z-index: 1;
}
.years {
    color:rgba(30,132,242,0.92);
}
.study-progress::after {
    content:'';
    position: absolute;
    width: calc(((1vh + 1vw)/2)* 4);
    height: calc(((1vh + 1vw)/2)* 4);
    border-top: 0.5vw solid silver;
    border-right: 0.5vw solid silver;
    margin-right: 3.9vw;
    transform: rotate(-45deg);
    top: calc(((1vh + 1vw)/2)* 0.5);
    left:calc(-1vw - ((1vh + 1vw)/2)* 2);
    border-radius: 5px;
}
.study-progress::before {
    content: '';
    height: 100%;
    width: 0.5vw;
    background-color: silver;
    position: absolute;
    left:-1vw;
    border-radius: 5px;
}
.study-place {
    position: relative;
    font-size: 1.23vw;
    line-height: 1.43vw;
}
.study-place::before {
    content: '';
    position: absolute;
    height: 1vw;
    width: 1vw;
    background-color:#468678;
    border-radius: 50%;
    top: calc(0.8em + 0.5vw);
    left:-1.25vw;
}
/* portfolio */
#portfolio {
    background: #005;
    width:100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    font-family: "Space Grotesk", sans-serif;
    align-items: center;
}
#portfolio > h2{
    margin: 4vh;
    font-size: 3em;
    text-transform: uppercase;
    color:rgb(216, 212, 212);
}
#portfolio
.container {    
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5vw;
  width:90%;
  }
  
  .shape {
    background: linear-gradient(45deg, #88D5BF 0%, #5D6BF8 100%);
    animation: morph 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    height: calc(((1vh + 1vw)/2)* 19);
    transition: all 1s ease-in-out;
    width: calc(((1vh + 1vw)/2)* 19);
    max-height:100vh;
    z-index: 5;
    position: relative;
  }
  .shape::before {
      position: absolute;
      content:  attr(data-portfolio);
      color:white;
      bottom:-15%;
      text-align: center;
      left:45%;
      font-size: 1.17vw;
  }
  
  @keyframes morph {
    0% {
              border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
              background: linear-gradient(45deg, #88D5BF 0%, #5D6BF8 100%);
      } 
      
      50% {
              border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
              background: linear-gradient(45deg,#e27fcb 0%, #5D6BF8 100%);
      }
    
      100% {
          border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
          background: linear-gradient(45deg, #88D5BF 0%, #5D6BF8 100%);
      } 
  }


  /* contacts */
  #contacts {
    background:/*url(./assets/images/colorfull.jpg),*/linear-gradient(233deg, #e56420, #c22525, #3d9c31, #37bbde);
    font-family: "Space Grotesk", sans-serif;
    width:100%;
    height:100vh;
    background-size:cover;
    background-blend-mode: hard-light;
    animation: hue-rotate 3s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}
    @keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
.con{
    width: 70%;
    height: 70%;
    background-color: #252525;
    color:rgb(4, 199, 4);
    border-radius: 25% 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: color 0.4s ease-in;   
}
.con:hover{
    color:white;
}
#contacts > h2 {
    font-size: 4vw;
    color:white;
    margin-right: 1vw;
}
.con .con-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 2vw;
    margin-left: 10%;
} 
.con .con-info p:hover::after {
    content:' ⇠';
    color: white;
    font-size: 2vw;
}
/* portrait */
@media screen and (orientation: landscape) {
    .modal-rotate {
    display: none;
    }
}
@media screen and (orientation: portrait) {
    .modal-rotate {
        position: fixed;
        top:0;
        left:0;
        height:100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
        z-index:50;
        text-align: center;
        background-image: radial-gradient(rgb(41, 43, 66), rgb(37, 39, 60), rgb(34, 35, 54), rgb(30, 31, 48), rgb(26, 27, 42), rgb(22, 23, 36), rgb(19, 20, 30), rgb(15, 16, 24), rgb(11, 12, 18), rgb(7, 8, 12), rgb(4, 4, 6), rgb(0, 0, 0));
    }
    .inner-rotate {
    font-size: max(1.5vw,20px);
    color: rgb(214, 214, 214);
    position: relative;
    }
    .modal-rotate svg {
        width: 20vw;
        min-width: 200px;
        margin-left:10%;
    }
}